article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* stripping styles */

body,
a,
p,
h1,
h2,
h3,
ul,
li,
form{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper{
    width: 70%; 
    max-width: 1300px;
    margin: 0 auto;
}

li{
    list-style: none;
}


/* base styling */

img{
  width: 100%;
  display: block;
}

html{
    font-size: 62.5%;
    height: 70%;
    background: linear-gradient(to left, rgba(248,250,184, 0.52), rgba(204,240,225, 0.73))
    /* background: rgba(204,240,225, 0.73); */
}

.hero{
  background-image: 
  linear-gradient(to bottom, rgba(248,250,184, 0.52), rgba(204,240,225, 0.73)), 
  url(https://firebasestorage.googleapis.com/v0/b/project5-e9638.appspot.com/o/backgroundImg1.jpg?alt=media&token=40352b39-25e5-458e-9d2c-2c7277236918);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}

.headerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 50px;
}

h1{
  font-family: 'Special Elite';
  font-size: 5.3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1rem;  
}

h2{
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Open Sans Condensed';
  letter-spacing: .5rem;
}

.logo{
  width: 10%;
}

.homeTextBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeText{
  font-family: 'Special Elite';
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
  letter-spacing: 1.2px;
  margin-top: 5%;
}

  a{
  border: 2px solid #f76a8c;
  color: #f76a8c;
  background: none;
  font-family: 'Open Sans Condensed';
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 40px 0;
  padding: 10px 25px;
  opacity: .8;
  transition: .3s;
}

a:hover{
  opacity: 7;
}

form{
  text-align: center;
  position: relative;
}

.formFlex{
  margin: 30px 0;
}

select,
button{
  font-family: 'Open Sans Condensed';
  font-size: 2.5rem;
  letter-spacing: 1px;

}

.selectBttn{
  border: 2.5px solid #f76a8c;
  background-color: #f76a8c;
  color: white;
  opacity: .8;
  transition: .3s;
}

.selectBttn:hover{
  opacity: 1;
}

.homeBttn{
  position: absolute;
  left: 90%;
  bottom: 1%;

}

.plantGrid{
  font-family: 'Open Sans Condensed';
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2%;
  align-items: center;
}

.imgCont{
  border: solid .5px #f76a8c;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
}

img{
  border-radius: 5px;
}

.plantGridTextbox{
  font-size: 2rem;
}

h3{
  font-family: 'Special Elite';
  font-size: 2rem;
  text-align: center;
  letter-spacing: 5px;
  padding: 10px;
  border-bottom: .5px solid black;
  margin: 0 20px;
}

li{
  padding: 10px;
  letter-spacing: 1px;
}

p{
  display: inline;
}

.fieldName{
  font-weight: 900;
  font-family: 'Open Sans Condensed';
}

@media (max-width: 930px) {
  .plantGrid{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 420px){
  h1{
    font-size: 3rem;
  }
  .selectBttn{
    margin-top: 10px;
  }
  .wrapper{
    width: 95%;
  }
  .imgCont{
    width: 80%;
  }
  form{
    font-size: 1.5rem;
  }

}

